header {
   display:flex;
   justify-content: space-between;
   position: sticky;
   top: 0;
   padding: 1.5% 5% 1.5% 1.5%;
   font-size: 20px;
   color: rgb(48, 46, 46);
   text-align: right;
   background-color: white;
   text-transform: uppercase;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   align-items: flex-end;
       
}

.site_logo { 
   margin-right:auto;
                     
}

 
.english_icon {
   width: 25px;
   max-width: 8%;
}

.english_icon:hover {
   opacity: 0.8;
}


.fb_icon {
   width: 25px;
   max-width: 8%;
}

.fb_icon:hover {
   opacity: 0.8;
}
