ul {
   list-style: none;
}

body {
   background-color: rgb(248, 248, 248);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   margin: 0;
}

h2 {
   text-transform: uppercase;
   font-weight: bold;
}

a {
   color: black;
   text-decoration: none;
}

a:hover,
.active {
   color: orange;
   text-decoration: underline;
}

.container {
   text-align: center;
   background-color: rgb(26, 99, 163);
   background-image: url(../img/Materiali/index_container_font_1.jpeg);
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   background-size: cover;
   padding: 10%;
   color: white;
   text-transform: uppercase;
}

.big_logo {
   max-width: 100%;
   height: 270px;

}

.about {
   background-color: rgb(26, 99, 163);
   color: white;
   text-align: left;
   padding: 10%;
}

.about h2 {
   text-align: center;
   text-transform: none;
}

.uslugi_link {
   background-color: orange;
   border: 0ch;
   color: white;
   padding: 1%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
   border-radius: 3px
}

.uslugi_link:hover {
   opacity: 0.9;
   color: white;
}

.link_contact_form {
   background-color: rgb(48, 46, 46);
   color: white;
   padding-top: 2%;
   padding-bottom: 2%;
   padding-left: 3%;
   padding-right: 3%;
   text-align: center;
}

.contact_link a {
   color: white;
}

.conrtact_link a:hover {
   color: white;
   text-decoration: none;
   opacity: 0.8;
}


h4 {
   text-align: center;
}

.parntes_bar {
   text-align: center;
   padding: 1%;
}

#obikolki {
   width: 200px;
}

#karindom {
   width: 140px;
}

#room_88 {
   width: 200px;
}

#geacommerce {
   width: 200px;
}

#teahouse {
   width: 200px;
}

/*.grid_uslugi {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}
*/

.grid_uslugi {
       
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(4 1fr);

    grid-gap: 1em;

    padding: 10px;
    
    width: 100vw;
    height: 100vh;
}

.grid_uslugi div {
   padding: 5%px;
   border: 1px solid black;
}

.el {
   grid-column: 1 / 2;
}

.sot {
   grid-column: 2 / 3; 
}

.cctv {
   grid-column: 3 / 4; 
}

.acc {
  grid-column: 1 / 2;
  grid-row: 2 / 3; 
}

.doorphone {
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
}

.parking {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.contact_navigation ul {
   display: grid;
   grid-template-columns: repeat(4 1fr);
   grid-template-rows: repeat(3 1fr);
   grid-gap: 1em;
   padding: 10%;
   
}

.con_phone_icon {
   grid-column: 1 / 2;
   grid-row: 1 / 2; 
   
}

.con_mail_icon {
   grid-column: 2 / 3;
   grid-row: 1 / 2; 
}

.con_fb_icon {
   grid-column: 3 / 4;
   grid-row: 1 / 2; 
}

.con_phone {
   grid-column: 1 / 2;
   grid-row: 2 / 3; 
}

.con_mail {
   grid-column: 2 / 3;
   grid-row: 2 / 3; 
}

.con_fb {
   grid-column: 3 / 4;
   grid-row: 2 / 3; 
}

.contact_box fieldset {
   display: grid;
   grid-template-columns: repeat(4 1fr);
   grid-template-rows: repeat(5 1fr);
   grid-gap: 1em;
   padding: 10%;
  
}

.cont_name {
   grid-column: 1 / 2;
   grid-row: 1 / 2; 
   height: 40px;
   border-radius: 5px;
   border-color: rgb(168, 166, 166);
   text-align: start;
  
}

.cont_about {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 40px;
  border-radius: 5px;
  border-color: rgb(168, 166, 166);  
  text-align: start;
}

.cont_email {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: 40px;
  border-radius: 5px;
  border-color: rgb(168, 166, 166); 
  text-align: start;
}

.cont_message {
  grid-column: 2 / 4;
  grid-row: 1 / 4; 
  border-radius: 5px;
  border-color: rgb(168, 166, 166);
  text-align:left;
  max-height: 500px;
}

.cont_submit {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  height: 40px;
    
}
